.jumbotron {
    background-color: rgb(60, 119, 228);
    color: seashell;
    text-align: center;
}

.autos {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn {
    width: 100%;
}

.autos {
    padding: 10px;
}

footer {
    background-color: rgb(183, 219, 175);
    margin-top: 10px;

}